#---------------------------------------#
# Project Ignores                       #
#---------------------------------------#

**/.gitignore
!.gitignore

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

!/.mvn/wrapper/maven-wrapper.jar

# Compiled class file
*.class

# Package Files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar


# misc
*.log
log/
logs/


#---------------------------------------#
# IDEs & Editors Ignores                #
#---------------------------------------#

# Sublime Text
/*.sublime*
.sublime-gulp.cache

# Eclipse
.project
.classpath
.settings
.metadata



#---------------------------------------#
# Windows Ignores                       #
#---------------------------------------#

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/